
html{
    font-size: 62.5%;/*hace que las letras sean de 10px y permite el trabajo responsive*/
}
/*
.header{
	width: 100%;
    display: flex;
    flex-direction: row;
*/

.imgLogo{
    width: 80px;
    height: 80px;
}

/*------Menu------*/
.navegacion{
	width: 70%;
	margin: 30px auto;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: none;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/*-------------------------*/

body{
    background-color: #c1e1a7;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*-----------CSS INDEX-----------*/
.gridContainer__index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.5fr 1fr 1fr;
    grid-template-areas: 
        'menu menu'
        'nombre fotoPrincipal'
        'parrafo fotoPrincipal'
        'lorem lorem'
        'redesSociales redesSociales'
        'footer footer'
    ;
}

/* DIV para pruebas de espacio de GRID -Solo para enmaquetar-*/
/*
.gridContainer__index div{
    background-color: red;
    border: 1px solid black;
}
*/

.tituloMenu{
    grid-area: menu;
    background-color: #525558;
}

.nombre {
    grid-area: nombre;
    background-color: #75c7ff;
}

.parrafo{
    grid-area: parrafo;
    background-color: #75c7ff;
}

.fotoPrincipal__index{
    grid-area: fotoPrincipal;
    display: flex;
    justify-content: center;
    align-content: center;
}

.fotoPrincipal__index img{
    width: 95%;
    height: 55%;
    

    transition: height 3s, width 3s;
}

.fotoPrincipal__index img:hover{
    height: 60%;
    width: 100%;
}

.fotoPrincipal__index figure{
    position: relative;
    width: 95%;
    height: 55%;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
}

.fotoPrincipal__index figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out; /**/
}

.fotoPrincipal__index figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-out; 
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.fotoPrincipal__index figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.fotoPrincipal__index figure:hover > .capa h3{
    margin-top: 5%;
    margin-bottom: 10%;
}

.fotoPrincipal__index figure .capa h3{
    color: #fff;
    font-weight: 350;
    font-size: 20px;
    margin-bottom: 20px;
    transition: all 500ms ease-out; 
    margin-top: 30px;
}

.fotoPrincipal__index figure .capa p{
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    max-width: 80%;
    margin: auto;
}

.lorem__index{
    grid-area: lorem;
    background-color: #75c7ff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redSociales{
    grid-area: redesSociales;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #759eff;
}

.footer__index{
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #525558;
}

.lorem__index p{
    margin: 5%;
}

/*.imgPrincipal__index{
    width: 95%;
    height: 55%;
}*/
.iconosRedesSociales{
    width: 20px;
    height: 20px;
}


/*-----------CSS APRENDER-----------*/
.boton__lenguaje{
    border: 1px solid #2e518b; 
    padding: 10px; 
    background-color: #2e518b;
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
}

.gridContainer__aprender{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 200px 300px 50px 50px;
    grid-template-areas: 
        'menu'
        'paradigma'
        'lenguaje'
        'redSocialesAp'
        'footerAp'
    ;
}

.tituloMenuAp{
    grid-area: menu;
    background-color: #525558;
}

.paradigmas{
    grid-area: paradigma;
    background-color: #75c7ff;

}

.lenguajes{
    grid-area: lenguaje;
    background-color: #75c7ff;
}

.redesSociales__aprender{
    grid-area: redSocialesAp;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #759eff;
}

.footer__aprender{
    grid-area: footerAp;
    display: flex;
    justify-content: center;
    background-color: #525558;
    
}
/*Ingresar*/
.gridContainer__ingresar{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 2fr 50px 50px;
    grid-template-areas: 
        'menu'
        'ingreso'
        'redSocialesIng'
        'footerIng'
    ;
}

.tituloMenuIng{
    grid-area: menu;
    background-color: #525558;
}

.ingreso{
    grid-area: ingreso;
    background-color: #75c7ff;
}

.redSocial__ingresar{
    grid-area: redSocialesIng;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #759eff;
}

.footer__ingresar{
    grid-area: footerIng;
    display: flex;
    justify-content: center;
    background-color: #525558;
}

/*Tablet -- 768px*/
@media screen and (max-width: 768px){
    .gridContainer__index{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        
    }
}
/*Mobile -- 500px*/
@media screen and (max-width: 500px) {
    .gridContainer__index{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr 1fr 1.5fr 0.5fr 0.5fr; 
        grid-template-areas: 
            "menu"
            "nombre"
            "fotoPrincipal"
            "parrafo"
            "lorem"
            "redesSociales"
            "footer"
        ;
    }

    
}