$porcentajeStandarHtml: 62.5%;

$paleta:(
    primero: #A40000,
    segundo:#D15F05,
    tercero: #FE8524,
    cuarto:#244FFE,
    quinto:#001D95,
    fondo: #1D1D1D,
);

$redes:(
    twitter: blue,
    facebook: lightblue,
    whatsapp: green
);

@each $red, $color in $redes{
    .btn--#{$red}{
        background-color: $color;
    }
}

.fondo{
    background: map-get($paleta, fondo);
}

html{
    font-size: porcentajeStandarHtml;/*hace que las letras sean de 10px y permite el trabajo responsive*/
}


.pBlanco{
    @extend p;
    color: #fff;

}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


header{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.imgLogo{
    width: 80px;
    height: 80px;
}

.tituloLogo{
    color: #fff;
    margin-top: auto;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}




/*MIXINS*/
@mixin sizes($ancho, $alto){
    width: $ancho;
    height: $alto;
}



/*------Menu------*/

.centered-elements {
    display: flex;
    justify-content: end;
    align-items: center;
}

.boton {
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    background-color: transparent;
    overflow: hidden;


    a{
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: white;
        &:hover{
            @each $btnes, $color in $paleta{
                &--#{$btnes}{
                    color: $color;
                }
            }
            //color: white;
        }
    }

    &:hover{
        color: map-get($paleta, primero);
        font-weight: bold;
        span{
            &:nth-child(1){
                left: 0;
            }
            &:nth-child(2){
                right: 0;
            }
            &:nth-child(3){
                bottom: 0;
            }
            &:nth-child(4){
                top: 0;
            }
        
        
        }
        
        
    }

    span{
        position: absolute;
        background: #fff;
        transition: .5s;

        &:nth-child(1){
            width: 100%;
            height: 1px;
            top: 0;
            left: -100%;
        }

        &:nth-child(2){
            width: 100%;
            height: 1px;
            bottom: 0;
            right: -100%;
        }

        &:nth-child(3){
            width: 1px;
            height: 100%;
            bottom: -100%;
            left: 0;
        }

        &:nth-child(4){
            width: 1px;
            height: 100%;
            top: -100%;
            right: 0;
        }
    }

}
/*-------------------------*/

/*-Footer-*/
.iconosRedes{
    width: 20px;
    height: 20px;
}

/*---Index---*/
.header__menu{
    display: flex;
    justify-content: flex-end;
    margin-right: 0%;
}

.fotoPrincipal__index{
    @include sizes(500px, 300px);
    margin: auto;
}

.imagenes__index{
    @include sizes(400px, 270px);
}

