$porcentajeStandarHtml: 62.5%;


html{
    font-size: porcentajeStandarHtml;/*hace que las letras sean de 10px y permite el trabajo responsive*/
}

.imgLogo{
    width: 80px;
    height: 80px;
}

body{
    background-color: #c1e1a7;

    
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



/*--BORRAR al pasar todo a boostrap--*/
/*------Menu------*/
.navegacion{
	width: 70%;
	margin: 30px auto;

    ul{
        list-style: none;
    }

}

/*MIXINS*/
@mixin sizes($ancho, $alto){
    width: $ancho;
    height: $alto;
}

.menu{
    > li{
	    position: relative;
	    display: inline-block;

        > a{
            display: block;
	        padding: 15px 20px;
	        color: #353535;
	        font-family: 'Open sans';
	        text-decoration: none;

            &:hover{
                color: #CE7D35;
                transition: all .3s;
            }
        }
        &:hover{
            .submenu{
                visibility: visible;
	            opacity: 1;
            }
        }
    }
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    a{
        display: none;
        padding: 15px;
        color: #fff;
        font-family: 'Open sans';
        text-decoration: none;
    }
}

/*-------------------------*/

/*-----------CSS INDEX-----------*/
.gridContainer__index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.5fr 1fr 1fr;
    grid-template-areas: 
        'menu menu'
        'nombre fotoPrincipal'
        'parrafo fotoPrincipal'
        'lorem lorem'
        'redesSociales redesSociales'
        'footer footer'
    ;
}

/* DIV para pruebas de espacio de GRID -Solo para enmaquetar-*/
/*
.gridContainer__index div{
    background-color: red;
    border: 1px solid black;
}
*/

.tituloMenu{
    grid-area: menu;
    background-color: #525558;
}

.nombre {
    grid-area: nombre;
    background-color: #75c7ff;
}

.parrafo{
    grid-area: parrafo;
    background-color: #75c7ff;
}

.fotoPrincipal__index{
    grid-area: fotoPrincipal;
    display: flex;
    justify-content: center;
    align-content: center;
    img{
        @include sizes(95%, 55%);
        transition: height 3s, width 3s;
        &:hover{
            @include sizes(100%, 60%);
            
        }
    }

    figure{
        position: relative;
        @include sizes(95%, 55%);
        overflow: hidden;
        border-radius: 6px;
        cursor: pointer;

        img{
            @include sizes(100%, 100%);
            transition: all 500ms ease-out;
        }

        .capa{
            position: absolute;
            top: 0;
            @include sizes(100%, 100%);
            background: rgba(11, 103, 123, 0.6);
            transition: all 500ms ease-out; 
            opacity: 0;
            visibility: hidden;
            text-align: center;
            
            h3{
                color: #fff;
                font-weight: 350;
                font-size: 20px;
                margin-bottom: 20px;
                transition: all 500ms ease-out; 
                margin-top: 30px;
            }

            p{
                color: #fff;
                font-size: 14px;
                line-height: 1.5;
                width: 100%;
                max-width: 80%;
                margin: auto;
            }
        }

        &:hover{
            .capa{
                opacity: 1;
                visibility: visible;

                h3{
                    margin-top: 5%;
                    margin-bottom: 10%;
                }
            }
        }
    }
}


.lorem__index{
    grid-area: lorem;
    background-color: #75c7ff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        margin: 5%;
    }
}

.redSociales{
    grid-area: redesSociales;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #759eff;
}

.footer__index{
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #525558;
}

.iconosRedesSociales{
    width: 20px;
    height: 20px;
}
/*Mapas - Varaibles con coleccion de variables*/
/*Declarar el mapa - Index*/

$redes:(
    twitter: blue,
    facebook: lightblue,
    whatsapp: green
);

@each $red, $color in $redes{
    .btn--#{$red}{
        background-color: $color;
    }
}

/*
@each_key value in map{}
*/